body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: orangered;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 2%;
  
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(#d32c2ce5, skyblue) ;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.expirence{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
}
.item{
    width: 40%;
    margin-left:5% ;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 30px;
    box-shadow:10px 10px 40px  #474646;
  
}
#webbox{
    border-left:10px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#stackbox{
    border-left:10px solid ;
    border-image: linear-gradient(#c8ff00, #ff0022);
    border-image-slice: 1;
}
footer p{
    text-align: center;

}